/* General */
a {
   text-decoration: none;
}
body {
   background-image: url(../assets/img/water.jpg);
   padding: 0;
   margin: auto;
   font-size: 100%;
}
/* Page Dividers */
.wrapper {
   margin-left:auto;
   margin-right:auto;
   width:800px;
}
.header{
   height: 100px;
   background-color: blue;
   border-radius: 5px;
   position: relative;
   max-width: 800px;
   max-height: 100px;
}
.content {
   height: 2000px;
   position: relative;
   background-color: blue;
   border-radius: 5px;
   max-width: 800px;
   max-height: 2000px;
}
.content-navbar{
   padding-top: 72px;
}
.footer {
   height: 75px;
   background-color: black;
   position: relative;
   border-radius: 5px;
   color:red;
   max-width: 800px;
   max-height: 75px;
}
/* Text */
.title {
   font-family: cursive;
   text-shadow: 2px 2px 2px  yellow;
   padding: 20px 20px;
   text-decoration: none;
   font-size: 2em;
   color: black;
}
#home{
   border-bottom: 2px solid white;
}
.title a {
   color: black;
   text-decoration: none;
}
.subtitle {
   font-family: sans-serif;;
   color: white;
   text-shadow: 2px 5px 5px  red;
   padding: -30px 50px;
   margin-top: -45px;
   margin-left: 300px;
   font-size: 2em;
}
.thegoal {
   text-align: center;
   padding-top: 30px;
   font-size: 2em;
   font-weight: bold;
}
.reason {
   font-size: 1.3em;
   padding-top: 10px;
   color: white;
}
.reason::before{
   text-decoration: none;
   content: "\2192";
   font-size: 1.5em;
   color: red;
}
/* Navigation Bar*/
.navbar {
   height: 50px;
   background-color: red;
   position: relative;
   padding-top: 10px;
   padding-bottom:10px;
   border-radius: 5px;
   font-size: 1.0em;
   max-width: 800px;
   width: 100%;
   max-height: 50px;
   text-align: center;
   z-index: 1;
   border: 0;
   margin-top: 0px;
}
.navbar-fixed {
    top: 0;
    z-index: 100;
    position: fixed;
}
body#started li#nav-started,
body#attitude li#nav-attitude,
body#about li#nav-about,
body#prevention li#nav-prevention,
body#training li#nav-training,
body.information li#nav-information{
   border-bottom: 1px solid white;
   background-color: #ff5555;
}
body#rules li#nav-rules,
body#national li#nav-national,
body#club li#nav-club,
body#highschool li#nav-highschool,
body#plays li#nav-plays,
body#positions li#nav-positions{
   border: 1px solid white;
   background-color: #ff5555;
   z-index: 100;
}
.navbar ul{
	list-style:none;
	position:relative;
	float:left;
	padding-left:-50px;
   margin-top: -10px;
}
.navbar ul a{
	display:block;
	color:white;
	text-decoration:none;
	font-weight:700;
	font-size:0.8em;
   line-height:75px;
   padding-top: -20px;
   padding-bottom: 0px;
   padding-left: 32.5px;
   padding-right: 32.5px;
   margin-top: -5px;
}
.navbar ul li{
	position:relative;
	float:left;
	margin:0;
	padding:0;
}
.navbar ul li:hover{
	background:#ff5555;
}
.navbar ul ul{
	display:none;
	position:absolute;
   margin-top: 0px;
	left:0;
	background:red;
}
.navbar ul ul li{
	float:none;
	width:136.7px
}
.navbar ul li:hover > ul{
	display:block
}
.navbar ul ul ul{
	top:0;
   margin-top: 0px;
   padding-bottom: -20px;
	left:100%
}
.navbar ul ul ul li{
   padding-top: 5px;
}
/*IMGS */
.wpball {
   height: 90px;
   margin-left: 280px;
   margin-top: -82px;
   padding-bottom: 15px;
   transition: 1s ease;
}
.wpball:hover{
   margin-left: 710px;
}
.facebook {
    height:30px;
    margin-left:150px;
    margin-top:20px;
    display: block;
    position: absolute;
    transition: 0.5s ease;
}
.instagram {
    margin-top: 18px;
    margin-left: 210px;
    height:35px;
    display: block;
    position: absolute;
    transition: 0.5s ease;
}
.twitter {
    margin-top: 20px;
    margin-left: 270px;
    height: 30px;
    display: block;
    position: absolute;
    transition: 0.5s ease;
}
.youtube {
   margin-top: 20px;
    margin-left: 330px;
    height:30px;
    display: block;
    position: absolute;
    transition: 0.5s ease;

}
/* Footer */
.footer img:hover {
    height: 37.5px;
    margin-top: 15px;
    box-shadow: 0px 0px 5px 5px yellow;
}
.footer{
   position: relative;
}
.copyright {
   margin: -25px 450px;
   padding-top: 15px;
   width: 400px;
}
.contactus{
   padding: 10px;
   position: absolute;
}
.counter {
   color: red;
   margin-top: -17px;
   margin-left: 220px;
   font-weight: bold;
   background-color: yellow;
}
.counterhits{
   margin-top: 35px;
   margin-left: 0px;
   background-color: yellow;
}
.times{
   margin-left: 265px;
   margin-top: -18px;
}
