/* General */

a {
   text-decoration: none;
}
body {
   background-color: white;
   background-image: url(../assets/img/water.jpg);
   padding: 0;
   margin: 0;
   font-size: 100%;
}

/* Page Dividers */
.wrapper {
   margin-left:auto;
      margin-right:auto;
      width:800px;
}

.header{
   height: 100px;
   background-color: blue;
   border-radius: 5px;
   position: relative;
max-width: 800px;
max-height: 100px;
overflow: hidden;
}

.content {
   height: 2000px;
   position: relative;
   background-color: blue;
   padding-bottom: -2000px;
   border-radius: 5px;
   max-width: 800px;
   max-height: 2000px;
}
.content-navbar{
      padding-top: 72px;
}
.footer {
   height: 75px;
   background-color: black;
      position: relative;
   border-radius: 5px;
   color:red;
max-width: 800px;
max-height: 75px;
}

/* Text */
.title {
   font-family: cursive;
   text-shadow: 2px 2px 2px  yellow;
   padding: 20px 20px;
   text-decoration: none;
   font-size: 2em;
   color: black;
}
.title a {
   color: black;
   text-decoration: none;
}
.subtitle {
   font-family: sans-serif;;
   color: white;
   text-shadow: 2px 5px 5px  red;
   padding: -30px 50px;
   margin-top: -45px;
   margin-left: 300px;
   font-size: 2em;
}
.thegoal {
   text-align: center;
   padding-top: 30px;
   font-size: 2em;
   font-weight: bold;
}
h1{
   color:black;
}
h2{
   color:black;
}
.reason {
   font-size: 1.3em;
   padding-top: 10px;
   color: white;
}
.reason::before{
   ext-decoration: none;
content: "\2192";
font-size: 1.5em;
color: red;

}
/* Navigation Bar*/
.navbar {
   height: 50px;
   background-color: red;
   position: relative;
   padding: 10px;
   border-radius: 5px;
   font-size: 1.0em;
   max-width: 780px;
   width: 100%;
   max-height: 50px;
   text-align: center;
   z-index: 1;
   border: 0;
   margin-top: 200px;
}
.navbar-fixed {
    top: 0;
    z-index: 100;
  position: fixed;
    width: 100%;
    background-color: red;
}
.navbar
{
   margin-top: 0;
}

.navbar ul
{
	list-style:none;
	position:relative;
	float:left;
	padding:0;
   margin-top: -10px;
}

.navbar ul a
{
	display:block;
	color:white;
	text-decoration:none;
	font-weight:700;
	font-size:0.8em;
   line-height:75px;
	padding-top: -20px;
   padding-bottom: 0px;
   padding-left: 30px;
   padding-right: 30px;
margin-top: -5px;
}

.navbar ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0
}

.navbar ul li:hover
{
	background:#ff5555;
}

.navbar ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:red;
	padding:0
}

.navbar ul ul li
{
	float:none;
	width:133px
   padding-top: 500px;
}

.navbar ul li:hover > ul
{
	display:block
}
.navbar ul ul ul
{
	top:0;
   margin-top: 0px;
	left:100%
}
.navbar ul ul ul a{

}

/*IMGS */

.wpball {
   height: 90px;
margin-left: 280px;
margin-top: -80px;
padding-bottom: 15px;
transition: 1s ease;
}
.wpball:hover{
   margin-left: 710px;
}
.facebook {
    height:30px;
    margin-left:150px;
    margin-top:20px;
    display: block;
    position: absolute;
    transition: 0.5s ease;

}


.instagram {
    margin-top: 18px;
    margin-left: 210px;
    height:35px;
    display: block;
    position: absolute;
    transition: 0.5s ease;
}

.twitter {
   margin-top: 20px;
    margin-left: 270px;
    height:30px;
    display: block;
    position: absolute;
    transition: 0.5s ease;
}
.youtube {
   margin-top: 20px;
    margin-left: 330px;
    height:30px;
    display: block;
    position: absolute;
    transition: 0.5s ease;

}

/* Footer */
.footer img:hover {
    height: 37.5px;
    margin-top: 15px;
    box-shadow: 0px 0px 5px 5px yellow;
}
.footer{
   position: relative;
}
.footer *{
}
.copyright {
   margin: -25px 450px;
   padding-top: 15px;
   width: 400px;
}
.contactus{
   padding: 10px;
   position: absolute;
}
